<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django CRUD Operations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">        
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/boot strap.min.js"></script> 
</head>
<body>
    <h1 style="float: centre;">THIS IS DATABASE OF PRODUCTS</h1>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <!-- <th>Customer ID</th> -->
    <th>ID</th>
		<th>Package_id</th>
		<th>gps</th>
		<th>city</th>
      </tr>
    </thead>
    <tbody>
   
        {% for field in scanners %}
      <tr>
        <td scope="row">{{field.ID}}</td>
        <td scope="row">{{field.package_id}}</td>
        <td>{{field.gps_no_field}}</td>
        <td>{{field.city}}</td>
		
      </tr>
	  {% endfor %} 
   
	</tbody>
     
     
</table>	
</div>
</body>
</html>